<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kamilo.deparche">

    <uses-feature
        android:name="android.hardware.camara"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/logod"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logod"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeParche"
        android:usesCleartextTraffic="true"
        tools:targetApi="31">
        <activity
            android:name=".Mensajes" android:parentActivityName=".Home" />
        <activity
            android:name=".Home" />
        <activity
            android:name=".Listar" />
        <activity
            android:name=".CrearFrase" />
        <activity
            android:name=".Popud"
            android:theme="@style/AppTheme.pup" />
        <activity
            android:name=".Perfil"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Eventos" />
        <activity
            android:name=".Busqueda" />
        <activity
            android:name=".Publicar"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Categoria" />
        <activity
            android:name=".Emociones" />
        <activity
            android:name=".InicioNav"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vereficarsi" />
        <activity
            android:name=".OlvidarContra"
            android:screenOrientation="fullSensor" />
        <activity
            android:name=".Login" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service
            android:name=".Fcm"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kamilo.deparche"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" />
        </provider>
    </application>

</manifest>