<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.kamilo.deparche" >

    <uses-feature
        android:name="android.hardware.camara"
        android:required="true" />

    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.hardware.location.gps" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/logod"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logod"
        android:supportsRtl="true"
        android:theme="@style/Theme.DeParche"
        android:usesCleartextTraffic="true"
        tools:targetApi="31" >
        <activity
            android:name=".Listar"
            android:exported="false" />
        <activity
            android:name=".CrearFrase"
            android:exported="false" />
        <activity
            android:name=".Popud"
            android:exported="false"
            android:theme="@style/AppTheme.pup" />
        <activity
            android:name=".Perfil"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Eventos"
            android:exported="false" />
        <activity
            android:name=".Busqueda"
            android:exported="false" />
        <activity
            android:name=".Publicar"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Categoria"
            android:exported="false" />
        <activity
            android:name=".Emociones"
            android:exported="false" />
        <activity
            android:name=".InicioNav"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".vereficarsi"
            android:exported="false" />
        <activity
            android:name=".OlvidarContra"
            android:exported="false"
            android:screenOrientation="portrait" />
        <activity
            android:name=".Login"
            android:exported="false" />
        <activity
            android:name=".Splash"
            android:exported="true"
            android:theme="@android:style/Theme.DeviceDefault.NoActionBar.Fullscreen" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>

        <service android:name=".Fcm"
            android:exported="false">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT"/>
            </intent-filter>

        </service>

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="com.kamilo.deparche"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/provider_paths" >

            </meta-data>
        </provider>

    </application>

</manifest>